.styleConIntro {
    display: "flex"
}

.styleCon1 {
    margin-top: "100px";
    /* margin-left: "-650px" */

}

.styleConBackground {
    display: "flex"
}

/* .styleConSkills {}+ */

/* .styleConExperience {} */

.styleConSLangFrontEnd {
    display: "flex";
    /* padding: "100px" */
}

.styleAboutTitle {
    color: "greenyellow";
    font: "150px uppercase Copperplate, Papyrus, fantasy";
    margin-bottom: "50px"

}

.styleIntro {
    font: "45px uppercase Copperplate, Papyrus, fantasy";
    margin-top: "40px";
    text-indent: "55px"
}

.styleIntro1 {
    color: "red";
    font: "50px uppercase Copperplate, Papyrus, fantasy";
    text-indent: "55px"
}

.styleElementsH2 {
    color: "greenyellow";
    font: "40px uppercase Copperplate, Papyrus, fantasy",
}

.styleElementsH3 {
    color: "greenyellow";
    font: "30px uppercase Copperplate, Papyrus, fantasy"
}

.styleElementText {
    font: "30px uppercase Copperplate, Papyrus, fantasy"
}

.styleImg {
    box-shadow: '5px 15px 150px #2929bc';
    margin-top: "100px";
    margin-bottom: "200px";
    margin-left: "850px";
    /* padding: '2em', */
    width: "1000px"
}