.title {
    color: greenyellow;
    font:150px Copperplate, Papyrus, fantasy;
    margin-right: 600px;
    margin-bottom: 50px;
    

}

.text {
    font: 45px uppercase Copperplate, Papyrus, fantasy;
    margin-top: 40px;
    /* margin-right: 900px; */
    text-indent: 55px;
    /* padding-right: -1950px; */
}

.text1 {
    color: red;
    font: 50px uppercase Copperplate, Papyrus, fantasy;
    text-indent: "55px";
    animation-name: text1Intro;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes text1Intro {
    from{color: yellow;}
    to{color:red;}
}

.img {
    box-shadow: 5px 15px 150px #2929bc;
    margin-top: 100px;
    margin-bottom: 200px;
    margin-left: 850px;
    /* padding: '2em', */
    width: 1000px;
}

.experienceCon {
    margin-left: -550px;
}

.elementsH2 {
    color: greenyellow;
    font: 40px uppercase Copperplate, Papyrus, fantasy;
    padding-left: 500px;
    padding-right: 500px;
    text-align: center;
}


.mySkillsCon {
    font: 30px uppercase Copperplate, Papyrus, fantasy;
}

.elementsH3 {
    color: greenyellow;
    font: 35px uppercase Copperplate, Papyrus, fantasy;
}